<?xml version="1.0" encoding="ISO-8859-1"?>
<!--   
    Copyright 1999-2004 The Apache Software Foundation
  
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
  
        http://www.apache.org/licenses/LICENSE-2.0
  
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
    
    
<web-app>
  <display-name>CarSelectionPortal</display-name>
  <description>A simple portal to select a car and see details of the option selected.</description>
  <servlet>
    <servlet-name>getAutomotiveOptions</servlet-name>
    <servlet-class>servlets.GetAutomotiveOptionsServlet
      </servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>automotiveOptions</servlet-name>
    <jsp-file>/AutomotiveOptions.jsp</jsp-file>
  </servlet>
 
  
  <servlet>
    <servlet-name>setAndShowAutomotiveOptions</servlet-name>
    <servlet-class>servlets.SetAndShowAutomotiveOptionChoicesServlet
      </servlet-class>
  </servlet>
 
  
  <servlet>
    <servlet-name>showAutomotiveSelection</servlet-name>
    <jsp-file>/ShowSelectedAutomotiveOptions.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>getAutomotiveOptions</servlet-name>
    <url-pattern>/getAutomotiveOptions</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>automotiveOptions</servlet-name>
    <url-pattern>/automotiveOptions</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>setAndShowAutomotiveOptions</servlet-name>
    <url-pattern>/setAndShowAutomotiveOptions</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>showAutomotiveSelection</servlet-name>
    <url-pattern>/showAutomotiveSelection</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>getAutomotiveOptions</welcome-file>
  </welcome-file-list>
</web-app>